<h3>Multilayer Perceptron with Fashion-MNIST</h3>
<p>
  This page demonstrates a trained <a href="https://en.wikipedia.org/wiki/Multilayer_perceptron">multilayer perceptron</a> model for the <a href="https://github.com/zalandoresearch/fashion-mnist">Fashion-MNIST</a> dataset.  You can see the julia notebook that was used to train the model and export the results <a href="https://github.com/amellnik/FluxJSDemos/blob/master/src/assets/fmnist-mlp/F-MNIST%20MLP%20for%20FluxJS%20demo.ipynb">here</a>. The image below is one of the test images from the set, and the plot shows the model's softmax output for that image.
</p>
<div class="row">
  <div class="col-xs-6">
    <div class="card">
      <div class="card-header">
        Input image
      </div>
      <div class="card-block">
        <div id="img-plot"></div>
      </div>
    </div>

  </div>
  <div class="col-xs-6">
    <div class="card">
      <div class="card-header">
        Model predictions
      </div>
      <div class="card-block">
        <div id="probs-plot"></div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding-top: 3%">
  <div class="col-xs-12">
    <button (click)="selectRandomImage()" class="btn btn-outline">New Image</button>
  </div>
</div>
