<h3>Autoencoder</h3>
<p>
  This page demonstrates a simple <a href="https://en.wikipedia.org/wiki/Autoencoder">autoencoder</a> trained on the <a href="https://github.com/zalandoresearch/fashion-mnist">Fashion-MNIST</a> dataset.  You can see the notebook that was used to train the model <a href="https://github.com/amellnik/FluxJSDemos/blob/master/src/assets/autoencoder/Autoencoder%20with%20F-MNIST.ipynb">here</a>.
</p>

<p>
  Press the button below to load up a new image, encode it as a length-32 vector, then decode it again to see the result.  You can also confirm that the network is using the details of the input dataset by feeding it an imput image from the original MNIST dataset.
</p>

<div class="row">
  <div class="col-xs-5">
    <div class="card">
      <div class="card-header">
        Input image
      </div>
      <div class="card-block">
        <div id="input-plot"></div>
      </div>
    </div>

  </div>
  <div class="col-xs-2">
    <div class="card">
      <div class="card-header">
        Encoding
      </div>
      <div class="card-block">
        <div id="encoding-plot"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="card">
      <div class="card-header">
        Output image
      </div>
      <div class="card-block">
        <div id="output-plot"></div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding-top: 3%">
  <div class="col-xs-12">
    <button (click)="fmnistImage()" class="btn btn-outline">New F-MNIST image</button>
    <button (click)="mnistImage()" class="btn btn-outline">Alternative image</button>
  </div>
</div>
