<div class="main-container">
    <!-- <div class="alert alert-app-level">
        ...
    </div> -->
    <header class="header header-6">
      <div class="branding">
        <a routerLink="/" class="nav-link">
          <clr-icon shape="julia"></clr-icon>
          <span class="title">FluxJS Demos</span>
        </a>
      </div>
      <div class="header-nav">
        <a routerLink="/trivial" class="nav-link nav-text">Trivial example</a>
        <a routerLink="/fmnist-mlp" class="nav-link nav-text">Multilayer perceptron</a>
        <a routerLink="/autoencoder" class="nav-link nav-text">Autoencoder</a>
        <!-- <a routerLink="/char-rnn" class="nav-link nav-text">Character-level RNN</a> -->

    </div>
    </header>
    <!-- <nav class="subnav">
        ...
    </nav> -->
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <!-- <nav class="sidenav">
            ...
        </nav> -->
    </div>
</div>
